body{
    margin: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#input{
    margin-bottom: 50px;
    width: 40px;
    height: 20px;
    font-size: 15px;
}
#container{
    background-color: rgb(227, 227, 227);
    border: 2px solid gray;
    border-radius: 2px;
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; 
    
}
button{
    width: 80px;
    height: 26px;
    font-size: 15px;
}
@media (max-width: 400px) {
    #container{
        width: 90vw;
        height: 90vw;
    }
}
@media (min-width: 401px) and (max-width: 750px) {
    #container{
        width: 70vw;
        height: 70vw;
    }
}
